.text-box {
  position:relative;
  animation: box .8s infinite; 
  &.delay-1 {
    animation-delay: 0.3s;
    &:after{
      animation-delay: 0.3s;
    }
  }
  &.delay-2 {
    animation-delay: 0.6s;
    &:after{
      animation-delay: 0.6s;
    }
  }
  &:after{
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    z-index:1;
    width: 100%;
    height: 3px;
    background:#eaeaea;
    border-radius: 100%;
    animation: shadow .8s infinite; 
  }
}

@keyframes box{
  0% {
    top: 0px;
    color: #1E90FF;
  }
  50% {
    top: -3px;
    color: #FEC601;
  }
  100% {
    top: 0px;
    color: #73BFB8
  }
}

@keyframes shadow{
  0% {
    bottom: 0;
  }
  50% {
    bottom: -4px;
  }
  100% {
    bottom: 0;
  }
}