// colors
$accentColor: #1E90FF;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #f1f1f1;
$arrowBgColor: #ccc;

// layout
$navbarHeight: 4.65rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

// code
$lineNumbersWrapperWidth: 2rem;
$codeLang: (js, ts, html, md, vue, css, sass, scss, less, stylus, go, java, c, sh, yaml, py);